body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    padding: 40px;
    background-color: grey;
}
ul.header {
    background-color: black;
    padding: 20px;
    text-align: center;
    margin-left: -80px;
    margin-right: -80px;
}
ul.header li {
    display: inline;
    margin: 0 10px 0 0;
}
ul.header li a {
    color: white;
    text-decoration: none;
    font-weight: bold;
    padding: 20px;
    
}
h1 {
    text-align: center;
    background-color: black;
    color : white;
    padding: 20px;
}
.content {
    padding: 20px;
    background-color: white;
}
.content h2 {
    padding: 0;
}
.active {
    background-color: rgba(255, 255, 255, 0.098);
}